.spiner {
    border: 3px solid hsla(185, 100%, 62%, 0.2);
    border-top-color: #3cefff;
    border-radius: 50%;
    width: 3em;
    height: 3em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.login-form-wrapper {
    max-width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.login-form-wrapper form {
    width: 100%;
}

.user-agent-wrapper {
    max-width: 450px;
    margin: 0 auto;
}

.alert-wrapper {
    font-size: 14px;
}

.alert-wrapper h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.alert-wrapper p {
    margin-top: initial
}


.logout_wrapper {
    min-height: 60px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 0px 15px;
}

.sidebar_wrapper {
    min-height: 60px;
    background-color: #fff;
    margin-bottom: 50px;
    padding: 0px 15px;

}

.right-menu_wrapper {
    max-width: 150px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    position: absolute;
    left: 0px;
    top: 85px;

}

.right-menu_wrapper ul {
    list-style: none;
}

.alert-panel {
    min-width: 300px;
    /* max-width: 300px; */
    min-height: calc(100vh - 85px - 50px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 20px;
    top: 85px;
    padding: 15px;
    border: 5px black;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
}

.alert-text {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    line-height: 16px;
}

.test {
    position: absolute;

    top: 150px;
}