.user-agent-wrapper {
    max-width: 450px;
    margin-left: 150px;
  }
.user-agent__headline {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    margin-top: 0p
}

.user-agent__statistic-windows {
    display: flex;
    margin-bottom: 50px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(235, 235, 235, 0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(235, 235, 235, 0.5);
    box-shadow: 0px 2px 10px 0px rgba(235, 235, 235, 0.5);
    border: 1px solid #f6f6f6;
}

.user-agent__statistic-windows__statistics-panel {
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.user-agent__statistic-windows__statistics-panel:nth-of-type(1) {
    border-right: 1px solid #f6f6f6;
}

.user-agent__statistic-windows__statistics-panel__headline {
    font-size: 18px;
}

.user-agent__statistic-windows__statistics-panel__count {
    margin: 0px;
}
.user-agent-desktop-form__button-wrapper{
    display:flex;
    justify-content: space-between;
    margin-bottom:20px;
}