.alert-panel__header__text {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    line-height: 11px;
    margin-bottom: 10px;
}

.alert-panel__header__additional-text {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 11px;
    color: #858585;
    margin: 0px;
    text-shadow: 0px 0px 25px rgba(215, 215, 215, 0.25);

}

.alert-panel__header__button {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    line-height: 34px;
}

.alert-wrapper .uk-alert{
    font-size: 14px;
    margin-bottom: 1px;
    padding: 15px;
}

.alert-wrapper__headline {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
}

.alert-wrapper__alert-text{
    margin-top: 0px;
    padding-right: 15px;
}

/* .alert-wrapper p {
    margin-top: initial
} */

.alert-panel-wrapper {
    width: 100%;
}

.alert-panel__header {
    display: flex;
    /* justify-content: flex-start; */
    flex-direction: column;
    /* align-items: center; */
    padding: 13.5px;
    position: relative;
    border-bottom: 1px solid #F2F2F2;
}

.alert-panel__button {
    color: #FFFFFF;
    box-sizing: border-box;
    width: 100%;
    padding: 5px 0px;
    font-size: 15px;
    background: #0060BF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-weight: 600;
    transition: .3s ease;
}

.alert-panel__button:hover{
    background: #02519f;
    color: #fff;
}