

.alert-panel__text {
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    line-height: 16px;
}
.alert-wrapper {
    font-size: 14px;
}

.alert-wrapper__headline {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* .alert-wrapper p {
    margin-top: initial
} */

.alert-panel-wrapper{
    width: 100%;
}