.project-manager-wrapper {
    min-height: 60px;
    margin-bottom: 50px;
    padding: 0px 15px;
    position: relative;
}

.project-manager__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 1px solid lightgrey; */
}

.project-manager__header__headline {
    width: fit-content;
}
.project-card-wrapper{
    min-height: 60px;
    margin-bottom: 50px;
    padding: 0px 15px;
    position: relative;
}
.project-card__heading-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.project-card__heading__button{
    margin-left: 15px;   
}
.project-manager__header__button:nth-of-type(1) {
    margin-left: 15px;
}

.scan-depth__buttons-wrapper {
    display: flex;
    flex-direction: row;
    
}
.scan-depth-wrapper, .search-engine-wrapper{
    margin-bottom:20px;
}

/* .scan-depth__button:nth-of-type(1){
    margin-right:10px;
} */

.scan-depth__button.active, .search-engine__button.active {
    border:1px solid rgb(139, 6, 139)
}
.location__header{
    display: flex;
    flex-direction: column;  
}
.location-wrapper{
    margin-bottom:15px;
}
.project__main-info,
.project__additional-info {
    display: flex;
    flex-direction: column;
    padding: 6px 15px 6px 0px;
}
.project-wrapper {
    display: flex;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    height: 60px;
    margin-bottom: 20px;
}
.project__link{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
}
.project__link:hover,.project__link:visited{
    color: black;
    text-decoration: none;
}
.proxy-card-wrapper {
    display: flex;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    height: 60px;
    margin-bottom: 20px;
    border:1px solid transparent;
}

.proxy-card-wrapper:hover{
    cursor: pointer;
}

.proxy-card-wrapper.active {
    border:1px solid rgb(139, 6, 139)
}

.proxy-card__status-indicator {
    border: 7px solid transparent;
    border-radius: 100%;
}

.proxy-card__status-indicator:hover {
    cursor: pointer;
}

.proxy-card__status-indicator.active {
    border-color: green;
}

.proxy-card__status-indicator.suspended {
    border-color: grey;
}

.proxy-card__status-indicator.pending {
    border-color: yellow;
}

.proxy-card__status-indicator.down {
    border-color: red;
}

.proxy-card__status-indicator-wrapper {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.proxy-card__server-info,
.proxy-card__user-info,
.proxy-card__additional-info {
    display: flex;
    flex-direction: column;
    padding: 6px 15px 6px 0px;
}
.add-keywords-form__button-wrapper{ 
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content: flex-end;

   }
   .add-keywords-form__field{
    margin: 10px;
    padding:10px;
    -webkit-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    -moz-box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
    box-shadow: 0px 0px 30px -10px rgba(214, 214, 214, 1);
   }
   .add-keywords-form__button{
       margin-left: 5px;
   }
   .add-keywords-form__header, .add-keywords-form__label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:10px; 
   }
   .add-keywords-form__button-remove{
       height: 30px;
   }
   .project-card__heading__toggle{
       margin:0px;
       margin-top: 5px;
       padding: 3px;
       color:rgb(177, 59, 59);
       border:1px solid rgb(82, 5, 5);
       justify-content: flex-start;
       width: fit-content;

   }
   .project-card__toggle-wrapper p {
       margin:0;
       margin-bottom: 1px;
   }
   .lineChart-container-wrapper__heading{
    padding: 0px 15px;
   }
   .lineChart-container-wrapper__heading__text{
      margin-top:0px; 
   }
   .lineChart-container-dynamics__table{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
   }